body {
    font-family: "Encode Sans Semi Expanded",sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    overflow:hidden;
}
/*dropdown content */
.dropdown {
    float: right;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 24px;
    border: none;
    padding: 0px;
    outline: none;
    color: navy;
    font-family: inherit;
    background-color: inherit;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: navy;
    color: white;
    min-width: 160px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 16px;
}

.dropdown-content a {
    float: none;
    color: navy;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: navy;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}


ul {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    min-width: 160px;
    text-align: right;
    font-size: 24px;
}


/* Header content */
header {
    background: white;
    color: navy;
    border-bottom: #e8491d 1.5px solid;
}

header a {
    color: navy;
    text-decoration: none;
    text-transform: uppercase;
}


header li{
    float: left;
    text-align: right;
    display: inline;
    min-height: 70px;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
    padding: 1px;
}


header nav {
    float:right;
    margin-top: 30px;
}

header a: hover {
    color: red;
    font-weight: bold;
}


.icon {
    display: block;
    transition: .3s;
    opacity: 1;
    float: top;
    width: 80%;
    height: 100%;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    padding-top: 0px;
    min-height: 0px ;
}

/* First part */
#showcase {
    background: url(Images/aiszschool.jpg) no-repeat;
    text-align: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    align-items: center;
}

.hero-block {
    position: absolute;
    right: 0;
    left: 0;
    top: 90%;
    width: 100%;
    text-align: center;
    font-size: 28px;
    max-width: 570px;
    margin: 1rem auto;
    padding: 2rem 1rem;
    background: rgba(227,6,19,0.75);
    color: #fff;
}





